.App{
  display:flex;
  height:100%;
}
.wrapper{
  display:flex;
  background-color:transparent;
  
  width:1000px;
  

}
.left{
  
  display:block;
  width: 200px;
  background-color:grey;
  margin-top:200px;
  
}
.middle {
  display:flex;
  background-color:red;
  width:600px;
  margin-left:200px;
  
  
}

.logo {
  width:200px;
  height:200px;
}
